<!-- templates/list_books.html -->
 {% extends "base.html" %}
 {% load static %}
 {% block title %}
    <title>Listing books</title>
 {% endblock %}
 {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/list_books.css' %}">
 {% endblock %}
 {% block content %}
    <div class="book-list">
        <h1>Book Collection</h1>
        {% for book in books %}
        <div class="book">
            <img src="{% static 'images/test.jpg' %}" alt={{book.title}} />
            <div class="book-info">
                <h2 class="title">{{book.title}}</h2>
                <p class="author">Author: {{book.author}}</p>
                <p class="published">Published: {{book.publication_date}}</p>
                <p class="pages">Pages: {{book.pages}}</p>
            </div>
        </div>
        {% empty %}
        <p>No books found :( </p>
        {% endfor %}
    </div>
 {% endblock content %}
